doctype
html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
		link(rel="stylesheet",href="css/styles.css")
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ,integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
		script(src="scripts/staff_update_script.js",type="module")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
				
		link(href="https://fonts.googleapis.com/css?family=Montserrat",rel="stylesheet")
		title="Staff"
		link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
		link(rel='manifest', href='/manifest.json')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
		meta(name='theme-color', content='#ffffff')

		
	body
		#myModkal.modal.fade(role='dialog')
			.modal-dialog
				// Modal content
				.modal-content
					.modal-header
						
						h4.modal-title CHANGE PASSWORD
						button.close(type='button', data-dismiss='modal') ×
					.modal-body
						div(style="width: 90%;margin: auto;")
							form(action='/changepass',method='POST')
								div(class="update_fields")
									label(for="currentpassword") CURRENT PASSWORD
									input(type='password',placeholder='CurrentPassword',name='current_password',id='currentpassword',required)
								div(class="update_fields")
									label(for="newpassword") NEW PASSWORD
									input(type='password',placeholder='NewPassword',name='new_password',id='npass',required)
								div(class="update_fields")
									label(for="confirmpassword") CONFIRM PASSWORD
									input(type='password',placeholder='ConfirmPassword',name='confirm_password',id='cpass',required)
									div(id='message') | Password not matched
								input(type='submit',value='Change Password',class='btn btn-info')
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Cancel
		script(src='scripts/newpassword.js')
		
		

		div(class='navigationbar')
				
					
			div(class='menubar')
				ul
								
										
					li
							img(src="images/kinder.png",height="50px",onclick="location.href='/profile'")
					li(class="enabled" ,onclick="location.href='/room'") Rooms
					li(class="enabled", onclick="location.href='/students'") Students
					li(class="enabled", onclick="location.href='/parent'") Parents
					li(class="enabled", onclick="location.href='/staffs'") Staffs
					li(class="enabled", onclick="location.href='#'") Learning
					li(class="enabled", onclick="location.href='#'") Billing 
					li(class="enabled", onclick="location.href='#'") Reports
					li
			div(class='dropdown', style="position: absolute; right: 50px; top: 30px;")
					button(class='btn btn-secondary dropdown-toggle', type='button',id="dropdownMenuButton", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Settings
					div(class='dropdown-menu',aria-labelledby="dropdownMenuButton")
							a(class='dropdown-item',href='/logout') Logout
							a(class='dropdown-item',href='#',data-toggle='modal',data-target='#myModkal') Password Settings
							a(class='dropdown-item',href='#') Help and Support
		div()
														
			h2(style="margin-top:50px;margin-left:154px;") Total Staffs 
				span(class='badge') #{data.length}
				button(class='btn btn-primary',id="addstudent", data-toggle="modal", data-target="#newstudent") Add New Staff
				div(id="newstudent", class="modal fade", role="dialog")
					div(class="modal-dialog")
						div(class="modal-content")
								div(class="modal-header")
									h4(style="text-align:center;margin:auto;") Add New Staff
										span(class='glyphicon glyphicon-pencil')
								div(class="modal-body")
									form(method='POST', action='/addstaff')
								
										div(style="width: 90%;margin: auto;")
											div(class="update_fields")
												label(for="staffname1") Name
												input(type='text',placeholder='Staff Name',name='staff_name',id='staffname1',required)
											
											div(class="update_fields")
												label(for="staff_admin_email1") Staff Email
												input(type='email',name='staff_admin_email',id='staff_admin_email1',placeholder='staff@example.com')
											
											div(class="update_fields")
												label(for="staff_appoint_date1") Appoint Date
												input(type='date',name='staff_appoint_date',id='staff_appoint_date1',placeholder='staff@example.com')
											div(class="update_fields")
												label(for ="staffRoom1") Staff Room
												select(name='room',class='form-control',id='staffRoom1')
													each room in list
														option(value=room.room_id) #{room.room_name}	
										
											div(class="update_fields")
												label(for="staff_phone_number1") Telephone Number
												input(type='tel',name='staff_phone_number',placeholder='(+977)-',id='staff_phone_number1')
											div(class="update_fields")
												label(for="staff_gov_id1") Government Id Number
												input(type='text',name='staff_gov_id',placeholder='',id='staff_gov_id1')

											input(type='submit',value='Add Staff',name='addstaff' class='btn btn-primary',style="width:100%;")
				div(id="newstaff", class="modal fade", role="dialog")
					div(class="modal-dialog")
						div(class="modal-content")
								div(class="modal-header")
									h4(style="text-align:center;margin:auto;") Update Staff
										span(class='glyphicon glyphicon-pencil')
								div(class="modal-body")
									form(method='POST', action='/updatestaff')
										
										div(style="width: 90%;margin: auto;")
											
											input(type='hidden',name='staff_id',id='staff_id')
											div(class="update_fields")
												label(for="studentName") Name
												input(type='text',placeholder='Staff Name',name='staff_edited_name',id='staffname',required)
											
											div(class="update_fields")
												label(for="staff_admin_email") Staff Email
												input(type='email',name='staff_admin_edited_email',id='staff_admin_email',placeholder='staff@example.com')
											
											div(class="update_fields")
												label(for="staff_appoint_date") Appoint Date
												input(type='date',name='staff_appoint_edited_date',id='staff_appoint_date',placeholder='staff@example.com')
											div(class="update_fields")
												label(for="staffRoom") Staff Room
												select(name='room',class='form-control',id='staffRoom')
													each room in list
														option(value=room.room_id) #{room.room_name}		
										
											div(class="update_fields")
												label(for="studentTelephone") Telephone Number
												input(type='tel',name='staff_phone_edited_number',placeholder='(+977)-',id='staff_phone_number')
											div(class="update_fields")
												label(for="staff_gov_id") Government Id Number
												input(type='text',name='staff_gov_edited_id',placeholder='',id='staff_gov_id')

											input(type='submit',value='Update' class='btn btn-primary')

			table(style="width:65%;margin-left:154px;margin-top:30px;")
				tr()
					th(style="padding-bottom: 30px;") Staff Name
					th(style="padding-bottom: 30px;") Staff Appoint Date
					th(style="padding-bottom: 30px;") Phone Number
					th(style="padding-bottom: 30px;") Assigned Room
				each value in data
					tr(class='studentrow')
						td #{value.admin_staff_name}
						td #{value.staff_appoint_date}
						td #{value.staff_phone_number}
						td #{value.staff_room_id}
							
						td 
							button(class='btn btn-success updatestaffbutton',data-toggle='modal',data-target='#newstaff',id=value.staff_admin_id) Update 
								<i class="far fa-edit"></i>
						td 
							button(class='btn btn-danger deletestaff') Delete 
								<i class='fas fa-trash'></i>

							
						td
							if !value.invitation_status

								button(class='btn btn-warning invitestudent',id=value.staff_admin_email,data-staffName=value.admin_staff_name,data-schoolName = school) Invite 
									<i class='fas fa-envelope'></i> 
							
							else if emails.includes(value.staff_admin_email)
								button(class='btn btn-success invitestudent',id=value.staff_admin_email,data-staffName=value.admin_staff_name,data-schoolName = school) Registered <i class='fas fa-check'></i>
								 
							else if value.invitation_status 
								button(class='btn btn-info invitestudent',id=value.staff_admin_email,data-staffName=value.admin_staff_name,data-schoolName = school) Invited 
									<i class='fas fa-check'></i>
						
							 
							
							
								 
							

					tr(class="spacer")



		
				

										

			
						

